body{
  background-color: grey;
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/lake.jpg");
}

h1, h2, h3, h4, h5 {font-family: 'Bree Serif',
serif;
font-size: 43px;} 
    
p,a, li {
  font-family: 'Alegreya',
serif;
font-size: 17px;
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.nav {
  /* position: absolute; */
  display: flex;
  padding: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: 50px;
  background: rgb(255, 255, 255, 0.451);
  transition: height 0.2s ease 0s;
}

.nav a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-decoration: none;
  color: rgb(232, 232, 232);
}

.nav a:hover {
  background: rgb(232, 232, 232);
  color: red;
}

#logo {
  font-weight: 900;
  margin-left: 2rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
}


/* @media (max-width: 750px) {
  #background-video { display: none; }
  body {
    background: url("../assests/Forest.mp4") no-repeat;
    background-size: cover;
  }
} */

select {
  padding: 5px;
  width: 50%;
}
.signupScreen-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.451);
  box-shadow: rgb(62, 64, 66) 0px 11px 17px -12px;
  margin: 50px;
  padding: 30px;
  z-index: 1;
}

.hikeFeed{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.451);
  box-shadow: rgb(62, 64, 66) 0px 11px 17px -12px;
  margin: 50px;
  padding: 30px;
  z-index: 1;
}

.hikeCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.451);
  box-shadow: rgb(62, 64, 66) 0px 11px 17px -12px;
  margin: 50px;
  padding: 30px;
  z-index: 1;
}


.signupButton{
  padding: 5px;
  color: white;
}

.signupButton:hover {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.457), rgb(255, 255, 255, 0.451); */
}

.signupInputs {
  margin: 5px;
  padding: 5px;
}
.newHikeInputs {
  margin: 5px;
  padding: 5px;
}

.signupScreen-container:hover{
  background-color: rgba(255, 255, 255, 0.511);
}

#editModal {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50vw;
}